.headBox{ /*parent header*/
    display:flex;
    background-color: rgba(50, 60, 148, 0.548);
    flex-flow:row-wrap;
    justify-content:space-evenly;

  }

  .fishy{
    align-self:flex-start
  }

  .top{ /*child*/
    flex-direction: row; 
    /* background-color: pink; */
  }

.martin{ /*child*/
    text-align:center;
    /* background-color:orange; */
  }

  .navLinks{ /*child*/
    display:flex;
    text-align:center;
    justify-content:space-between;
    border:2%;
    background-color:yellow;
  }
  