.contentContainer{
    /* background-color:rgb(72, 170, 72); */
    display:flex;
    justify-content: space-around;
  }
  
.containerLeft{
    display:flex;
    flex-flow: column wrap;
    flex-basis:70%;
    border: rgb(92, 105, 15) solid;
}
.containerLeft__fishList{
  display: flex;
  flex-flow:row wrap;
  }

  .fishCard{
    display:flex;
    flex-flow:column wrap;
  }

.containterLeft__travelQuotes{
    border: white solid;
    background-color: white;
 }

 .containerLeft__travelLocations{
      border: white solid;
 }
