
.containerLeft__fishList{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  }

  .fishCard{
    display:flex;
    flex-flow:column wrap;
    align-items: center;
  }

.containterLeft__travelQuotes{
  display:flex;
  flex-direction: row;
    border: white solid;
    background-color: white;
 }

 .containerLeft__travelLocations{
      border: white solid;
 }
