@import "../styles/foot.css";
@import "../styles/left.css";
@import "../styles/right.css";
@import "../styles/head.css";

.contentArticle {
    background-color:rgba(213, 252, 172, 0.26);
  }
  
  .contentContainer {
    display: flex;
    justify-content: space-around;
    background-color: navy;
  }
  
  .containerLeft {
    flex-basis: 75%;
  }
  
  .containerRight {
    flex-basis: 25%;
  }